.head {
    padding: 5px;
}

.description {
    padding: 5px;
}

#drag {
    cursor: move;
    float: left;
}

#delete {
    cursor: pointer;
    float: right;

}

textarea {
    width: 150px;
    height: 100px;
}

.save {
    cursor: pointer;
    width: 50px;
    height: 20px;
    float: bottom;
}
