.head {
    padding: 5px;
    display: flex;
}

.description {
    padding: 5px;
}

#drag {
    cursor: move;
    width: 15%;
    /*float: left;*/
}

#edit {
    cursor: pointer;
    width: 15%;
}

#empty {
    cursor: pointer;
    width: 55%;
}

#delete {
    cursor: pointer;
    width: 15%;
    /*float: right;*/

}

textarea {
    width: 150px;
    height: 100px;
}

.save {
    cursor: pointer;
    width: 50px;
    height: 20px;
    float: bottom;
}
